.button {
  display: flex;
  height: 2rem;
  touch-action: none;
  user-select: none;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
  border-radius: 0.5rem;
  border-style: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  color: hsl(204 20% 100%);
  text-decoration-line: none;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: hsl(204 100% 40%);
  position: absolute;
  top: 0;
  right: 0;
}

/* .button:hover {
  background-color: hsl(204 100% 32%);
} */

.button[aria-disabled="true"] {
  opacity: 0.5;
}

.button[data-focus-visible] {
  outline-style: solid;
}

.icon {
  height: 2rem;
}

@media (min-width: 640px) {
  .button {
    gap: 0.5rem;
  }
}

.separator {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  height: 0px;
  width: 100%;
  border-top-width: 1px;
  border-color: hsl(204 20% 88%);
}

:is(.dark .separator) {
  border-color: hsl(204 3% 28%);
}

.menu {
  position: relative;
  z-index: 50;
  display: flex;
  max-height: var(--popover-available-height);
  min-width: 180px;
  flex-direction: column;
  overflow: auto;
  overscroll-behavior: contain;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: hsl(204 20% 88%);
  background-color: hsl(204 20% 100%);
  padding: 0.5rem;
  color: hsl(204 10% 10%);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  outline: none !important;
}

:is(.dark .menu) {
  border-color: hsl(204 3% 26%);
  background-color: hsl(204 3% 18%);
  color: hsl(204 20% 100%);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.25),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.menu-item {
  display: flex;
  cursor: default;
  scroll-margin: 0.5rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 0.5rem;
  outline: none !important;
}

.menu-item[aria-disabled="true"] {
  opacity: 0.25;
}

.menu-item[data-active-item] {
  background-color: hsl(204 100% 40%);
  color: hsl(204 20% 100%);
}

.menu-item:active,
.menu-item[data-active] {
  background-color: hsl(204 100% 32%);
}

.modal {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 60%;
  border: double 0.25rem transparent;
  border-radius: 0.5rem;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background-image: linear-gradient(
      rgb(var(--tile-start-rgb)),
      rgb(var(--tile-start-rgb))
    ),
    var(--tile-border);
  padding: 2rem;
}

.modal button {
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;
}

@media (max-width: 700px) {
  .modal {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
  }
}

.modal-heading {
  margin-bottom: 2rem;
}

.modal-dismiss {
  display: flex;
  flex-direction: row-reverse;
}
